.header {
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 12px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.headerImage {
    width: 3rem;
    height: 3rem;
}

main {
    padding: 16px 0;
    background-color: #f7f7f7;
}

.mainContainer {
    background-color: white;
    padding-top: 16px;
}
