.podium {
    display: flex;
    gap: 12px;
    align-items: flex-end;
}

.podiumColumn {
    margin-top: auto;
    cursor: pointer;
}

.userPodiumCard {
    display: flex;
    gap: 4px;
    align-items: center;
}

.podiumStand {
    bottom: 0;
    width: 100%;
    box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.3);
    animation: grow 2s ease-in-out forwards;
    border-radius: 5% 5% 0 0;
}
