.search {
    max-width: 210px;
}

.close {
    position: absolute;
    right: 16px;
    top: 2px;
    cursor: pointer;

}

.settings {
    position: absolute;
    right: 130px;
    margin: 0 12px;
    background: #f7f7f7;
    padding: 30px 16px 0 16px;
    border-radius: 4px;
}

.settingsLabel {
    padding: 6px;
}

.anomaliesPanel {
    display: flex;
    justify-content: space-between;
}